.simple-bar-chart-bar {
  stroke: #514663;
  stroke-width: 1;
  fill: #4D5382;
}

.simple-bar-chart-bar:hover {
    fill: #8CBA80;
}

.simple-bar-chart-text {
  fill: white;
  font-family: sans-serif;
}


.simple-bar-chart-pane {
    background-color: #CACF85;
    color: #A4BEF3;
}